bcrypt==3.2.0
cffi==1.15.0
cryptography==35.0.0
numpy==1.21.4
opencv-python==4.5.4.58
paramiko==2.8.0
pycparser==2.21
PyNaCl==1.4.0
pyrealsense2==2.49.0.3474
-e git+https://github.com/c-flew/pysftp.git@2effcb3f189c3ca9725a96a35780dd7c00040adc#egg=pysftp
six==1.16.0
