[Unit]
Description=Start 2468 code

[Service]
ExecStart=/home/cflew/realsense-offseason/deploy/boot.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=2468service
User=cflew
Group=cflew
WorkingDirectory=/home/cflew/realsense-offseason/out

[Install]
WantedBy=basic.target
